<settings>
	<servers>
		<server>
			<id>github</id>
			<username>Balraj0017</username>
			<password>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</password>
		</server>
	</servers>
</settings>
<profiles>
	<profile>
		<id>github</id>
		<repositories>
			<repository>
				<id>central</id>
				<url>https://repo1.maven.org/maven2</url>
				<releases>
					<enabled>true</enabled>
				</releases>
				<snapshots>
					<enabled>true</enabled>
				</snapshots>
			</repository>
			<repository>
				<id>github</id>
				<url>https://maven.pkg.github.com/Balraj0017/java_ado
					</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
